<!doctype html>
<html lang="<%= language %>">
<head>
    <meta charset="utf-8">
    <title><%= t('emails.DeleteAcc.subject', { application }) %></title>
</head>
<body>
    <p><%= t('emails.greeting', { name }) %></p>
    <p><%= t('emails.DeleteAcc.body', { application }) %></p>
</body>
</html>
