<footer class="mt-12 py-6">
  <div class="container mx-auto text-center">
    <p class="text-sm text-gray-500">
      &copy; <%= new Date().getFullYear() %> <%= app_name %>. <a href="/privacy" class="text-blue-600 hover:text-blue-500" data-translate="Page.Privacy"></a> | <a href="/imprint" class="text-blue-600 hover:text-blue-500" data-translate="Page.Imprint"></a> | <a href="https://github.com/EBG-PW/SimpleStrichliste" class="text-blue-600 hover:text-blue-500" data-translate="Page.Github"></a>
    </p>
  </div>
</footer>